.titulo_fomulario_historia{
	font-size: 2rem;
	margin-bottom: 10px;
}


#contenedor_historias_sprint{
	#contenedor_historias{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(auto-fit, 170px);
		column-gap: 20px;
		padding: 0 20px;

		.tarjeta_historia{
			flex-direction: column;
			justify-content: space-between;
		}
	}

	#titulo_historias_sprint{
		font-size: 2rem;
		margin-left: 30px;
	}
}

.tarjeta_sprint{
	display: block;
	padding: 5px;
	color: $input_text;
	@include box-shadow(1);
	margin: 10px 0;
}

.fechas_avance{
	font-size: .8rem;
	color: $main_color;
}
