.scrum_board{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: auto;
}

.columna_scrum_board:not(:last-child){
	border-right: .5px solid lighten($font_color, 50);
}

.columna_scrum_board{
	padding: 0 10px;
}

.titulo_columna-scrum{
	color: $main_color;
	font-size: 1.5rem;
}

.tarjeta_historia{
	@include box-shadow(1);
	margin: 10px 0;
}
