*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 100%;
	font-family: "Open Sans";
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: $main_color;
}

body{
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: 90px auto;
	min-height: 100vh;
}

header{
	grid-column: 1 / span 2;
}

.contenedor_cabecera{
	padding: 0 80px 0 30px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.titulo--proyecto{
	margin-left: 20px;
	flex-direction: column;

	.nombre_proyecto{
		font-size: 1.2rem;
		color: $input_text;
	}
}

.toggle_navegacion{
	font-size: 1.5rem;
	color: $font_color;
	cursor: pointer;

	&.icono_navegacion{
		color: #fff;
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: .8rem;
		// display: none;
	}
}

.datos_usuario_cabecera{
	display: flex;
	align-items: center;
	color: #717171;
	cursor: pointer;

	img{
		@include circle(50px);
		margin-right: 10px;
	}

	.boton_opciones_usuario{
		margin-left: 10px;
		font-size: 1.2rem;
		color: $input_text;
	}
}

.navegacion_lateral{
	position: fixed;
	width: 200px;
	height: 100%;
	left: -200px;
	top: 0;
	background: $navegacion_lateral;
	transition: left .3s;
	z-index: 10;

	&.activo{
		left: 0;
	}

	.encabezado_navegacion{
		padding: 35px 0;
		text-align: center;
		color: #fff;

		p{
			font-size: 2rem;

			span:first-child{
				font-weight: bolder;
			}
		}
	}

	.navegacion_item{
		background: $navegacion_lateral;
		padding: 15px;
		display: block;
		color: darken(#fff, 50);
		font-size: .8rem;
		transition: all .3s;

		i{margin-right: 7px;}

		&:hover{
			box-shadow: inset 3px 0px 0px 0px $main_color;
			color: #fff;
			background: darken($navegacion_lateral, 3);
		}
	}

	hr{
		width: 80%;
		margin: 10px auto;
		border: .3px solid lighten($navegacion_lateral, 40);
	}
}

.panel_opciones_usuario{
	position: absolute;
	width: 250px;
	right: 10px;
	top: 100px;
	background: $navegacion_lateral;
	display: none;
	transition: display .5s;

	&.activo{
		display: block;
	}

	&::before{
		top: -15px;
		right: 75px;
		@include triangle($navegacion_lateral, up, 15px);
	}

	& > div{
		justify-content: space-around;
		padding: 10px 5px;
	}

	.opcion_usuario_item{
		@include circle(40px);
		border: 1px solid lighten($font_color, 50);
		color: lighten($font_color, 50);
		transition: all .3s;

		&:hover{
			color: $main_color;
			border-color: $main_color;
		}
	}
}

.contenedor_principal{
	grid-column: 1 / span 2;
	grid-row: 2 / span 1;
	transition: all .3s;
}

.nueva_historia{
	color: $estimacion !important;
}

.nuevo_proyecto{
	color: $importancia !important;
}

.note{
	font-size: 1.2rem;
	color: $input_text;
	font-weight: lighter;
	margin: 0 0 20px 50px;
}
