*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 100%;
	font-family: "Open Sans";
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: $main_color;
}

body{
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: 90px 50px auto;
	min-height: 100vh;
}

header{
	grid-column: 1 / span 2;
}

.contenedor_cabecera{
	padding: 0 30px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.titulo--proyecto{
	margin-left: 20px;
	flex-direction: column;

	.nombre_proyecto{
		font-size: 1.1rem;
		color: $input_text;
	}

	.sprint_actual{
		font-size: .9rem;
		color: $input_text;
	}
}

.toggle_navegacion{
	font-size: 1.5rem;
	color: $font_color;
}

.datos_usuario_cabecera{
	display: flex;
	align-items: center;
	color: #717171;
	cursor: pointer;

	img{
		@include circle(50px);
	}

	span{
		margin-left: 10px;
	}

	.foto_perfil div{
		@include circle(50px);
		position: relative;

		&::after{
			content:attr(data-badge);
			position:absolute;
			top:-5px;
			right:-5px;
			font-size:.7em;
			background: $error_color;
			color:white;
			width:18px;height:18px;
			text-align:center;
			line-height:18px;
			border-radius:50%;
			box-shadow:0 0 1px #333;
		}
	}

	.boton_opciones_usuario{
		margin-left: 10px;
		font-size: 1.2rem;
		color: $input_text;
	}
}

.enlaces_login a:last-child{
	margin-left: 20px;
}

.navegacion_lateral{
	grid-column: 1 / span 2;
	grid-row: 2 / span 1;

	ul{
		background: $navegacion_lateral;
		height: 100%;
		justify-content: space-between;
		padding: 0 30px;

		li{
			height: 100%;
			box-shadow: inset 0 0 0 #fff;
			margin: 0 10px;
			transition: box-shadow .3s;

			&:last-child{
				margin-right: 0;
			}

			&:hover{
				box-shadow: inset 0 -3px 0 #fff;
			}

			a{
				color: #fff;
			}
		}
	}
}

.panel_opciones_usuario{
	position: absolute;
	width: 250px;
	right: 10px;
	top: 80px;
	background: $navegacion_lateral;
	display: none;
	transition: display .5s;

	&.activo{
		display: block;
	}

	&::before{
		top: -15px;
		right: 75px;
		@include triangle($navegacion_lateral, up, 15px);
	}

	& > div{
		justify-content: space-around;
		padding: 10px 5px;
	}

	.opcion_usuario_item{
		@include circle(40px);
		border: 1px solid lighten($font_color, 50);
		color: lighten($font_color, 50);
		transition: all .3s;

		&:hover{
			color: $main_color;
			border-color: $main_color;
		}
	}
}

.contenedor_principal{
	grid-column: 1 / span 2;
	grid-row: 3 / span 1;
	transition: all .3s;
	margin-top: 10px;
}

.nueva_historia{
	color: $estimacion !important;
}

.nuevo_proyecto{
	color: $importancia !important;
}

.note{
	font-size: 1.2rem;
	color: $input_text;
	font-weight: lighter;
	margin: 0 0 20px 50px;
}

.contenedor_notificacion{
	&.no_leido{
		margin: 10px 0;
		padding-left: 15px;
		box-shadow: inset 10px 0 0 $main_color;

		.fecha_notificacion{
			color: $input_text;
			font-size: .8rem;
		}
	}

	&.leido{
		margin: 10px 0;
		padding-left: 15px;
		box-shadow: inset 10px 0 0 $input_text;

		.fecha_notificacion{
			color: $input_text;
			font-size: .8rem;
		}
	}
}

.sin_notificaciones{
	color: $input_text;
	font-size: .8rem;
}
