// Colores
$main_color: #FD643B;
$background_color: #fff;
$input_text: #535353;
$font_color: #2b2b2b;
$navegacion_lateral: #262835;
$error_color: #FD643B;

// Colores historia
$titulo_historia: #535353;
$estimacion: #1050b1;
$importancia: #fe8e33;
$id_historia: #148e91;

// Estilos
$radius: 3px;
